# Python
.venv/
venv/
__pycache__/
*.pyc

# Environment
.env

# Telethon Session
*.session
*.session-journal

# Download
downloads/

# Log
logs/

# Node
node_modules/
npm-debug.log*

# Baileys Session
whatsappProd/sessions/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db